{% extends 'base.html.twig' %}

{% block title %}Panterest - Création d'une épingle{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-6 mx-auto">

            <h2> Créer une épingle </h2>

            {{ include ('pins/_form.html.twig', {button: 'Créer'}) }}

        </div>

    </div>

{% endblock %}