<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <div class="container">
        <a class="navbar-brand" href="{{ path('pins.index') }}">Panterest</a>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('pins.create') }}">Créer une épingle</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Bonjour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>